@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #FFFFFF;
    --secondary-color:#59CEA7;
    --third-color: #4AA6F1;

}
body{
    padding: 0;
    margin: 0;
    background: #0C1D26;
    font-family: 'Poppins';
    width: 100%;
    height: 100%;
    color: var(--primary-color);
    display: grid;

}
a{
    text-decoration: none;
    color: var(--primary-color);

    &:hover {
        color: var(--secondary-color);
    }
    &:active{
        color: var(--third-color);
    }
}
header{
    .nav{
        display: grid;
        grid-template-columns: 1fr 4fr;
        background: #0C1D26;
        position: fixed;
        width: 100%;
        // overflow: hidden;
       
    
        .logo{
            img{
                border-radius: 50%;
                width: 45px;
                height: 45px;
                margin: 10px;
            }
        }
        ul{
            display: flex;
            justify-content: space-between;
            margin-right: 170px;
            list-style: none;
        }
    }
}

main{
    margin: 100px 200px 0 200px;
    // background-color: #212a31;
    background: #20333d;
    text-align: center;
    article{
        display: grid;
        margin: 0 50px;
        gap: 10px;

        .article-img{
            margin-top: 20px;
            img{
                height: 284px;
                width: 812px;
                 
            }
        }

        .article-content{
            .date-comment{
                display: flex;
                justify-content: space-between;
                color: var(--secondary-color);
                
                .date{
                    margin-right: 50px;
                }

            }
            form{
             
                display: grid;
                gap: 10px;

                textarea{
                    height: 30px;
                }
                .send-comment-cta{
                    cursor: pointer;
                }
            }

            p{
                text-align: left;
            }
        }
    }
    .comments-list{
        text-align: left;
        margin: 0 50px;
        h5{
            color: var(--third-color);
        }
    }
}


footer{
    text-align: center;
}