@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #FFFFFF;
  --secondary-color:#59CEA7;
  --third-color:rgba(5, 21, 49, 0.94);
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  position: relative;
}

main .left-side {
  color: var(--primary-color);
  background: var(--third-color);
  position: fixed;
  width: 35.5%;
  height: 650px;
}

main .left-side .upper-content {
  background: rgba(11, 5, 49, 0.25);
  text-align: center;
  height: 80px;
  margin-top: -20px;
}

main .left-side .upper-content h1 {
  padding-top: 15px;
}

main .left-side .lower-content {
  text-align: center;
  margin: 20px;
  display: -ms-grid;
  display: grid;
}

main .left-side .lower-content .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  margin-left: 80px;
}

main .left-side .lower-content .content:active {
  color: var(--secondary-color);
}

main .left-side .lower-content .content .iconify {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

main .left-side .lower-content .content a {
  margin-right: 10px;
  color: var(--primary-color);
  text-decoration: none;
}

main .left-side .lower-content .content a:hover {
  color: var(--secondary-color);
}

main .left-side .lower-content .content p {
  color: var(--secondary-color);
}

main .left-side .lower-content #log-out {
  color: var(--secondary-color);
}

main .left-side .lower-content #log-out h3 {
  cursor: pointer;
}

main .left-side .lower-content #log-out h3:hover {
  color: var(--primary-color);
}

main .right-side {
  background-color: var(--primary-color);
  text-align: center;
  display: -ms-grid;
  display: grid;
  width: 96%;
  margin-left: 480px;
}

main .right-side .upper-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f0efef;
  padding-bottom: 15px;
  position: fixed;
  width: 64.5%;
}

main .right-side .upper-content .iconify {
  width: 40px;
  height: 40px;
}

main .right-side .upper-content .iconify:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

main .right-side .upper-content form {
  margin-top: 10px;
  margin-left: 10px;
}

main .right-side .upper-content form input {
  height: 30px;
  border-radius: 50px;
  padding: 5px 10px;
}

main .right-side .upper-content form button {
  border: none;
}

main .right-side .upper-content .add-article {
  margin-right: 10px;
}

main .right-side .upper-content .add-article .iconify {
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

main .right-side .lower-content {
  margin-top: 70px;
}

main .right-side .lower-content .container {
  display: -ms-grid;
  display: grid;
  margin-left: 20px;
}

main .right-side .lower-content .container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .right-side .lower-content .container article #article-img {
  height: 173px;
  width: 173px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 30px;
}

main .right-side .lower-content .container article .article-content span a {
  color: var(--secondary-color);
  text-decoration: none;
}

main .right-side .lower-content .container article .article-content span a:hover {
  color: var(--third-color);
}

main .right-side .lower-content .container article .date-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--secondary-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .right-side .lower-content .container article .date {
  margin-right: 100px;
}

main .right-side .lower-content .container .edit-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .right-side .lower-content .container .edit-delete .iconify {
  width: 35px;
  height: 35px;
  margin: 10px;
  cursor: pointer;
}

main .right-side .lower-content .container .edit-delete #edit {
  margin-left: 200px;
}

main .right-side .lower-content .container .edit-delete #edit:hover {
  color: var(--secondary-color);
}

main .right-side .lower-content .container .edit-delete #delete:hover {
  color: red;
}
/*# sourceMappingURL=dashboard.css.map */