@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #FFFFFF;
    --secondary-color:#59CEA7;
    --third-color:rgba(5, 21, 49, 0.94);
    ;

}
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    
}
main{
   
    display: grid;
    // width: 100%;
    grid-template-columns: 30% 70%;

    .left-side{

        color: var(--primary-color);
        background: var(--third-color);
        position: fixed;
        height: 650px;

        .upper-content{
         background:rgba(11, 5, 49, 0.25);
         text-align: center;
         height: 60px;
         margin-top: -20px;

            h1{
                padding-top: 15px;
                font-size: 25px;
                margin: 10px;
            }

        }

        .lower-content{
            justify-content: center;
            display: grid;
            gap: 20px;
            
            .content{
                display: flex;
                &:active{
                    color:var(--secondary-color)
                }

                .iconify{
                    width: 45px;
                    height: 45px;
                    margin-right: 10px;
                }

                a{
                    margin-right: 10px;
                    color: var(--primary-color);
                    text-decoration: none;
                    &:hover{
                        color: var(--secondary-color);
                    }
                }

                p{
                    color: var(--secondary-color);
                }
            }

            #log-out{
                color: var(--secondary-color);
                h3{
                    cursor: pointer;
                    &:hover{
                    color: var(--primary-color);
                    }
                }
            }
        }
       
    }

    .right-side{
       background-color: var(--primary-color);
       text-align: center;
       display: grid;
       gap: 10px;
       
       width: 270%;
       margin-left: 255px;

       .upper-content{
            background: rgb(240, 239, 239);
            position: fixed;
            width: 100%;
            font-size: 8px;
            justify-content: center;
            
        }

        .lower-content{

          
             margin: 40px 10px 20px 10px;
             border: 1px red solid;
             
            
            
           
            .container{
                display: grid;
                grid-template-columns: 30% 30% 40%;
                gap: 5px;
                
            }

        }
    }
}