@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #FFFFFF;
    --secondary-color:#59CEA7;
    --third-color: #4AA6F1;

}
body{
    padding: 0;
    margin: 0;
    background: #0C1D26;
    font-family: 'Poppins';
    width: 100%;
    color: var(--primary-color);
}
main{
    margin: 0 50px;
}

// all links 

a{
    text-decoration: none;
    color: var(--primary-color);

    &:hover {
        color: var(--secondary-color)
        ;
    }
}

// .home-content

 .home-content {
    display: grid;
    grid-auto-columns: minmax(auto);
    background-image: url('../assets/background image.jpeg');
    background-size: cover;
    background-size: 1440px 512px ;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(100px, auto);

    // .upper-content 

    .upper-content{
        display: grid;
        grid-template-columns: 1fr 2fr;

        // logo 

        img{
            float: right;
            height: 254px;
            width: 254px;
            border-radius: 50%;
            margin: 30px;
        }

        // .introduction

        .introduction{
            
            display: grid;
            margin-left: 30px;
            
            

            h1{
                text-transform: uppercase;
                font-size: 40px;
                line-height: 50px;
                align-self: end;
                
            }
            h2{
                font-family: Lato;
                font-style: Italic;
                font-size: 45px;
                line-height: 50px;
                align-self: start;
                margin-left: 27px;
                margin-bottom: 70px;

            }
        }
       
    }

    // .lower-content 

    .lower-content{

        // big line 

        #big-line{
            border: 3px var(--primary-color) solid;
        }

        // all lines 

        hr {

                width:60%;
                margin: 0px 300px;
        }
        
        // nav content 

        ul{
            display:flex;
            justify-content: space-between;
            list-style-type: none; 
            margin-left: 300px;
            margin-right: 300px;
            text-transform: capitalize;

            
        }
    }
 }

//  <!-- main part -->? 

.summary{
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
    line-height: 50px;
    letter-spacing: 2em;
}

// <!-- summary content --> 

.summary-contenet{

    display: flex;
   
    justify-content: space-between;

    p{

        margin-right: 50px;
    }

    // <!-- image in the summary contente --> 

    img{

        height:360px;
        width: 540px;
        margin: 20px 0;

    }

    // <!-- read-more button  --> 

    
   
}

.read-more{
       
    text-align: center;

    #read-more{
        border-radius: 20px;
        padding: auto;
        background-color: var(--third-color);

        a{
            font-size: 20px;
            color: black;

            &:hover{
                color: var(--primary-color);
                font-weight: bold;
            }
            
        }
    }
}

// <!-- projects part --> 

.projects-cta{

    // <!-- project header  --> 

    .project-cta-icon{

        text-align: center;
        margin: 30px 0;
    
        img{
            height: 221px;
            width: 198px;
            
        }
    
        h2{
            font-family: Roboto;
            font-size: 30px;
            font-weight: bold;
    
        }
    
    
    }

    // <!-- project content  --> 

    .project-content{

    display:flex;
    justify-content: space-between;
    justify-items: center;
    margin-bottom: 50px;

    // <!-- content   --> 

    .container{

        text-align: center;
        margin:0 30px;

        #content-img{
            height: 174px;
            width: 262px;
            left: 64px;
            top: 21px;
            border-radius: 0px;
            
        }

        #github-ink{
            border-radius: 20px;
            padding: auto;
            background-color: var(--third-color);
            
            a{
                font-size: 20px;
                color: black;
    
                &:hover{
                    color: var(--primary-color);
                    font-weight: bold;
                }
                
            }
        }

        

    }


    // <!-- more contents 3 buttons  --> 

    // .more-projects-icon{

    //     span{
           
    //         .material-icons{
    //             text-align: center;
    //         }
    //     }
       

    // }

    }

}



// <!-- blog part --> 

.blog-cta{

    // <!-- blog icon for intro  --> 

    .blog-cta-icon{
        text-align: center;
        #blog-icon{

            height: 220px;
            width: 254px;
        }
    }
}

