@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #FFFFFF;
    --secondary-color:#59CEA7;

}
body{
    padding: 0;
    margin: 0;
    background: #0C1D26;
    font-family: 'Poppins';
    width: 100%;
    color: var(--primary-color);
}

// all links 

a{
    text-decoration: none;
    color: var(--primary-color);

    &:hover {
        color: var(--secondary-color)
        ;
    }
}

// .home-content

 .home-content {
    display: grid;
    grid-auto-columns: minmax(auto);
    background-image: url('../assets/background image.jpeg');
    background-size: cover;
    background-size: 1440px 512px ;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(100px, auto);

    // .upper-content 

    .upper-content{
        display: grid;
        grid-template-columns: 1fr 2fr;

        // logo 

        img{
            float: right;
            height: 254px;
            width: 254px;
            border-radius: 50%;
            margin: 30px;
        }

        // .introduction

        .introduction{
            
            display: grid;
            margin-left: 30px;
            
            

            h1{
                text-transform: uppercase;
                font-size: 40px;
                line-height: 50px;
                align-self: end;
                
            }
            h2{
                font-family: Lato;
                font-style: Italic;
                font-size: 45px;
                line-height: 50px;
                align-self: start;
                margin-left: 27px;
                margin-bottom: 70px;

            }
        }
       
    }

    // .lower-content 

    .lower-content{

        // big line 

        #big-line{
            border: 3px var(--primary-color) solid;
        }

        // all lines 

        hr {

                width:60%;
                margin: 0px 300px;
        }
        
        // nav content 

        ul{
            display:flex;
            justify-content: space-between;
            list-style-type: none; 
            margin-left: 300px;
            margin-right: 300px;
            text-transform: capitalize;

            
        }
    }
 }